@media screen and (min-width: 1280px) and (min-height: 700px) {
  /* Adjustments for the Menu */
  nav {
      padding-top: 55px;
      padding-left: 9%;
      padding-right: 9%;
      padding-bottom: 55px;
  }
  .logo {
      font-size: 38px;
  }
  nav ul li {
      padding: 14px 28px;
  }
  nav ul li a {
      font-size: 19px;
  }
  .btn {
      padding: 11px 28px;
      font-size: 21px;
  }

  /* Adjustments for the title */
  h3 {
      font-size: 58px;
      padding: 75px;
  }

  /* Adjustments for the t-chart */
  table {
      width: 75%;
  }
  th {
      font-size: 21px;
  }

  /* Adjustments for links */
  .spacer li {
      margin-left: 4.5%;
      padding-top: 2.5%;
      padding-right: 4.5%;
      font-size: large;
  }
  .sector {
      padding-left: 19%;
      padding-right: 19%;
      padding-bottom: 3%;
  }
  .links p {
      font-size: 30px;
  }
  .points {
      font-size: 24px;
      padding-left: 33px;
  }

  /* Adjustments for footer */
  .icons a {
      width: 68px;
      height: 68px;
  }
  .icons a i {
      font-size: 1.6em;
  }
  .footerNav ul li a {
      font-size: 1.35em;
  }
  .footerBottom {
      padding: 28px;
  }
  .designer {
      margin: 0px 6px;
  }
}
