@media screen and (max-width: 428px) and (max-height: 926px) {
    /* Adjust navigation styles for larger phones */
    nav {
        flex-direction: column;
        padding: 20px 10px;
    }
  
    .logo {
        font-size: 26px;
        margin-bottom: 12px;
    }
  
    nav ul {
        text-align: center;
        padding-top: 12px;
    }
  
    nav ul li {
        padding: 8px 12px;
        display: block; 
    }
  
    .btn {
        display: block;
        margin: 12px auto; /* Centering the button */
        font-size: 18px;
    }
  
    /* Adjust title size for larger phones */
    h3 {
        font-size: 32px;
        padding: 32px 12px;
    }
  
    /* Adjust t-chart styles for larger phones */
    table {
        width: 92%;
    }
  
    th, td {
        font-size: 15px;
    }
  
    th {
        font-size: 17px;
    }
  
    /* Adjust link styles for larger phones */
    ol li {
        margin-left: 4%;
        padding-top: 12px;
        padding-right: 4%;
    }
  
    .sector {
        padding-left: 6%;
        padding-right: 6%;
    }
  
    .links p {
        font-size: 22px;
    }
  
    .points {
        font-size: 20px;
    }
  
    /* Adjust footer styles for larger phones */
    .footerNav ul {
        flex-direction: column;
    }
  
    .footerNav ul li {
      width: 100%;
      text-align: center;
      margin: 12px;
    }
    .footerNav ul li a {
        padding-right: 19px;
    } 

  
    .footerBottom {
        line-height: 1.6;
    }
  
    .designer {
        display: block;
    }
  }
  