@media screen and (min-width: 1520px) {
    nav {
        padding-top: 50px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 60px;
    }
    .logo {
        font-size: 50px;
    }
    nav ul li {
        padding: 5px 15px;
    }
    nav ul li a {
        font-size: 26px;
    }
    .btn { 
        font-size: 20px;
    }
    .title {
        background: #191919;
        margin: 0%;
        padding: 0%;
    }
    h3 {
        color: white;
        text-align: center;
        font-size: 55px;
        padding: 65px;
    } 
    .box-one h2 {
        color: white;
        text-align: center;
        font-size: 30px;
    }
    .box-one p {
        font-size: 28px;
        color: white;
        text-align: center;
    }
    .box-one {
        border: 3px outset rgba(249, 0, 77, 0.65);
        padding: 35px;
    }
    #title-three {
        font-size: 45px;
        padding: 55px; 
    }
    .right-content p {
        font-size: 30px;
    }
}
