@media screen and (min-width: 1001px) and (max-width: 1520px) {
       /* Navigation menu */
       nav {
        padding-top: 30px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 40px;
    }
    .logo {
        font-size: 55px; /* Adjust font size for smaller screens */
    }
    nav ul li {
        padding: 5px 15px;
    }
nav ul li a{
    font-size: 22px;
}
/* Enhancements for the Intro section */

.content {
    left: 10%;
}

h1 {
    font-size: 60px;
    margin: 15px 0px 15px;
}

h3 {
    font-size: 26px;
    margin-bottom: 40px;
}

h4 {
    font-size: 20px;
}

.newslatter form {
    width: 350px;
}

.newslatter form input:first-child {
    padding: 12px 18px 12px 13px;
    border: 2px solid #f9004d;
}

.newslatter form .fix {
    padding: 9px 27px;
    top: 5px;
    right: 5px;
}

    /* Enhancements to the About section */

    .about {
        padding: 60px 0px;
    }

    .about img {
        width: 380px;
    }

    .about-text {
        width: 500px;
    }

    .main {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .about-text h2 {
        font-size: 60px;
        margin-bottom: 15px;
    }

    .about-text h5 {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .about-text p {
        line-height: 26px;
        font-size: 21px;
        margin-bottom: 35px;
    }

    button {
        padding: 10px 25px;
        font-size: larger;
    }

  /* Enhancements for the Service section */

  .service {
    padding-bottom: 70px;
    padding-top: 40px;
}

.title h2 {
    font-size: 65px;
    width: auto;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.box {
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    height: 500px;
    width: 400px;
    padding: 15px 25px;
    margin: 5px;
}

.card i {
    font-size: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

h5 {
    font-size: 21px;
    margin-bottom: 10px;
}

.pra p {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 20px;
}

.card .button {
    padding: 8px 20px;
    bottom: 5px;
}    
}

